<div>
  <%= content_tag :h2, t('Marketplace.course_marketplace_preference.dashboard_sales_section') %>
</div>
<div class="bottom-border-div">
  <% if publish_record.course_purchases.empty? %>
    <div id="no_sales_notice">
      <%= t('Marketplace.course_marketplace_preference.dashboard_no_sales_notice') %>
    </div>
  <% else %>
    <% publish_record.course_purchases.each { |course_purchase| %>
      <div class="dashboard-course-purchase-item row-fluid">
        <div class="span4">
          <%= content_tag :span, course_purchase.created_at %>
        </div>
        <div class="span8">
          <div class="row-fluid">
            <div class="span4">
              <%= content_tag :span,
                              t('Marketplace.course_marketplace_preference.claimed_purchases_format') %
                                  number_to_currency(course_purchase.claimed_purchases_amount) %>
            </div>
            <% if course_purchase.has_unclaimed_purchases? %>
              <div class="span4">
                <%= content_tag :span,
                                t('Marketplace.course_marketplace_preference.unclaimed_purchases_format') %
                                    number_to_currency(course_purchase.unclaimed_purchases_amount) %>
              </div>
              <div class="span4">
                <!-- TODO url-->
                <%= link_to t('Marketplace.course_marketplace_preference.claim_btn_text'),
                            claim_payouts_publish_record_path(publish_record, course_purchase_id: course_purchase.id),
                            class: 'btn btn-primary' %>
              </div>
            <% else %>
              <div class="span8">
                <%= t('Marketplace.course_marketplace_preference.no_pending_claim_notice') %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% } %>
  <% end %>
</div>
