<!-- TODO implement marketplace search result specific controls. -->
<div class="marketplace-course-display-simple row">
  <div class="search-course-image span2">
    <a href="<%= marketplace_show_path(course: course) %>" target="_blank">
      <img src="<%= course.logo_url %>" class="course-logo"/>
    </a>
  </div>
  <div class="search-course-details span10">
    <div class="search-course-title">
      <a href="<%= marketplace_show_path(course: course) %>" target="_blank">
        <%= course.title %>
      </a>
    </div>
    <div class="search-course-creator">
      <%= link_to "Creator: #{course.creator.name}",
                  marketplace_search_path(keywords: get_marketplace_search_keywords({creator: course.creator.name})) %>
    </div>
    <div class="course-rating">
      <!-- TODO add rating function -->
    </div>
  </div>
</div>