<!-- TODO implement "my created course" specific controls. -->
<div class="my-created-course-display-simple row-fluid">
  <div class="search-course-image span2">
    <%= link_to image_tag(course.logo_url, class: 'course-logo'),
                course_path(course),
                target: "_blank" %>
  </div>

  <div class="search-course-details span8">

    <div class="search-course-title">
      <%= link_to course.title,
                  course_path(course),
                  target: "_blank" %>
    </div>

    <div>
      Number of purchases: <%= course.all_course_purchases.size %>
    </div>

    <div>
      <% if course.publish_record %>
        <%= t('Marketplace.my_marketplace_courses.published_notice') %>
      <% else %>
        <%= t("Marketplace.my_marketplace_courses.not_published_notice") %>
      <% end %>
    </div>
    <div class="course-rating">
      <!-- TODO add rating function -->
    </div>
  </div>

  <div class="span2">
    <div>
      <%= link_to t('Marketplace.my_marketplace_courses.marketplace_preference_btn_text'),
                  course_preferences_path(course, _tab: 'marketplace'),
                  target: "_blank",
                  class: "btn btn-primary course-info-quick-access-btn" %>
    </div>
  </div>
</div>
