<% published_market_tab_id = 'published_markets_tab' %>
<% purchase_history_tab_id = 'purchase_history_tab' %>
<% default_tab_id = published_market_tab_id %>

<!-- This is a common notice area, it is intended to notice the user the result of previous operations even after tab is changed -->
<%= javascript_include_tag 'i18n' %>
<%= javascript_include_tag 'translations' %>
<%= javascript_tag do %>
  I18n.defaultLocale = "<%= I18n.default_locale %>";
  I18n.locale = "<%= I18n.locale %>";
<% end %>
<div id="flash_area">
</div>

<ul id="my_marketplace_created_course_setting_tabs" class="nav nav-tabs ajax-nav-tabs">

  <li class="<%= check_tab_status(published_market_tab_id, default_tab_id) %>">
    <%= link_to t('Marketplace.my_marketplace_courses_settings.published_markets_tab_label'),
                my_marketplace_course_published_markets_path(@course),
                remote: true,
                'data-target' => published_market_tab_id %>
  </li>

  <li class="<%= check_tab_status(purchase_history_tab_id, default_tab_id) %>">
    <%= link_to t('Marketplace.my_marketplace_courses_settings.purchase_history_tab_label'),
                my_marketplace_course_purchase_history_path(@course),
                remote: true,
                'data-target' => purchase_history_tab_id %>
  </li>

</ul>

<div class="tab-content">

  <div class="alert alert-success hidden">
  </div>
  <div class="alert alert-error hidden">
  </div>

  <div id="<%= published_market_tab_id %>" class="tab-pane <%= check_tab_status(published_market_tab_id, default_tab_id) %>">
  </div>

  <div id="<%= purchase_history_tab_id %>" class="tab-pane <%= check_tab_status(purchase_history_tab_id, default_tab_id) %>">
  </div>
</div>