
<ul class="nav nav-tabs">
  <li class="<%= "active" if @tab == "CoursePreference" %>">
    <a href="<%= course_preferences_path(@course) %>?_tab=coursepref">Course Preferences</a>
  </li>
  <li class="<%= "active" if @tab == "Sidebar" %>">
    <a href="<%= course_preferences_path(@course) %>?_tab=sidebar">Sidebar</a>
  </li>
  <li class="<%= "active" if @tab == "MissionPreference" %>">
    <a href="<%= course_preferences_path(@course) %>?_tab=mission">Mission</a>
  </li>
  <li class="<%= "active" if @tab == "TrainingPreference" %>">
    <a href="<%= course_preferences_path(@course) %>?_tab=training">Training</a>
  </li>
  <li class="<%= "active" if @tab == "McqPreference" %>">
    <a href="<%= course_preferences_path(@course) %>?_tab=mcq">MCQ</a>
  </li>
  <li class="<%= "active" if @tab == "NotificationPreference" %>">
    <a href="<%= course_preferences_path(@course) %>?_tab=email">Notifications</a>
  </li>
  <li class="<%= "active" if @tab == "PagingPreference" %>">
    <a href="<%= course_preferences_path(@course) %>?_tab=paging">Paging</a>
  </li>
  <% if @course.is_original_course? %>
    <li class="<%= 'active' if @tab == "MarketplacePreference" %>">
      <%= link_to t('Marketplace.course_marketplace_preference.marketplace_preference_tab_label'),
                 course_preferences_path(@course, _tab: 'marketplace') %>
    </li>
  <% elsif @course.course_purchase %>
    <li class="<%= 'active' if @tab == "PurchasePreference" %>">
      <%= link_to t('Marketplace.course_marketplace_preference.purchase_preference_tab_label'),
                  course_preferences_path(@course, _tab: 'purchase') %>
    </li>
  <% end %>
  <li class="<%= 'active' if @tab == "OtherPreference" %>">
    <a href="<%= course_preferences_path(@course) %>?_tab=other">Others</a>
  </li>
</ul>

<% if @tab == "CoursePreference" %>
    <%= render partial: "course_preference" %>
<% elsif @tab == "NotificationPreference" %>
    <%= render partial: "email_form" %>
<% elsif @tab == "McqPreference" %>
    <%= render partial: "mcq_form" %>
<% elsif @tab == "PagingPreference" %>
    <%= render partial: "paging" %>
<% elsif @tab == 'OtherPreference' %>
    <%= render partial: "misc" %>
<% elsif @tab == 'Sidebar' %>
    <%= render partial: "navbar_form" %>
<% elsif @tab == 'MarketplacePreference' %>
    <%= render partial: 'publish_records/form', locals: {course: @course, publish_record: @publish_record} %>
<% elsif @tab == 'PurchasePreference' %>
    <%= render partial: 'course_purchases/show', locals: {course: @course, course_purchase: @course_purchase} %>
<% else %>
    <%=render partial: "form" %>
<% end %>

