<%= form_for payout_identity do |f| %>
  <div class="modal-header">
    <h1>Change payout identity</h1>
  </div>
  <div class="modal-body">
    <div>
      <%= content_tag :p, t('Marketplace.course_marketplace_preference.payout_identity_notice') %>
    </div>
    <%= f.radio_button :receiver_type, 'paypal' %>
    <label for="payout_identity_receiver_type_paypal">
      <div class="payment-processor-logo">
        <img src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_74x46.jpg" border="0" alt="PayPal Logo">
      </div>
    </label>
    <% if defined?(@course) %>
      <%= hidden_field(:course, :id) %>
    <% end %>
  </div>
  <div class="modal-footer">
    <%= f.submit t('Marketplace.payout_identity.verify_identity_btn_text'),
                 class: 'btn btn-primary' %>
  </div>
<% end %>